<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huma.almalzma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".parse.ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup" />
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_weed_details" />
        <activity
            android:name=".subject.SubjectActivity"
            android:label="@string/title_activity_subject"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.huma.almalzma.MainActivity" />
        </activity>
        <activity
            android:name=".subject.DataActivity"
            android:label="@string/title_activity_data"
            >
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.example.huma.almalzma.subject.SubjectActivity" />-->
        </activity>
    </application>

</manifest>
